@use '../config';
@forward '../base';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.gwf-bio {
	&__wrapper {
		font-family: "Poppins", sans-serif;
		display: flex;
		justify-content: center;
		padding: 20px;
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://agenciagrowify.com.br/wp-content/uploads/2025/12/background-delycacau.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		min-height: 100vh;
	}

	&__holder {
		width: 800px;

		@include config.breakpoint('medium-down') {
			width: 100%;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 25px 20px;
	}

	&__profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: config.$neutral-color-lightest;
	}

	&__profile-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: contain;
		border: 4px solid config.$neutral-color-light;
		box-shadow: config.$default-shadow;
	}

	&__profile-title {
		font-size: 28px;
		font-weight: 700;
		padding-top: 10px;

		@include config.breakpoint('medium-down') {
			font-size: 30px;
		}
	}

	&__profile-description {
		font-size: 16px;
		text-align: center;

		&-destaque {
			font-weight: bold;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		gap: 20px;
		padding-top: 20px;
	}

	&__social-link {
		@include config.reset-link;
	}

	&__social-icon {
		color: config.$neutral-color-lightest;
		font-size: 24px;
		opacity: 0.8;


		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}
	}

	&__card {
		text-align: center;
		color: config.$neutral-color-lightest;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__links-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 12px 15px;
		text-decoration: none;
		font-size: 18px;
		color: config.$neutral-color-lightest;
		width: 60%;
		background: config.$secondary-color-dark;
		margin-bottom: 10px;
		border-radius: 5px;
		height: 50px;


		&:hover {
			background: config.$neutral-color-darkest;
		}

		@include config.breakpoint('medium-down') {
			width: 90%;
			font-size: 17px;
		}
	}

	&__links-icon {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
	}

	&__creator-title {
		margin-bottom: 15px;
	}

	&__creator-image {
		width: 100%;
		max-width: 300px;
		height: auto;
		border-radius: 10px;
		border: 3px solid config.$neutral-color-light;
		box-shadow: config.$default-shadow;
	}

	&__produtos {
		background-color: config.$primary-color;
		border-radius: 15px;
		padding: 15px;
		margin: 0 auto;
		max-width: 320px;
	}

	&__produtos-title {
		font-size: 24px;
		color: config.$neutral-color-lightest;
		margin-bottom: 15px;
	}

	&__carrossel {
		position: relative;
		overflow: hidden;
		border-radius: 12px;
	}

	&__carrossel-link-text {
		@include config.reset-link;
	}

	&__carrossel-track {
		display: flex;
		transition: transform 0.4s ease-in-out;
	}

	&__carrossel-slide {
		min-width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__carrossel-image {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 12px;
	}

    &__carrossel-product-name {
        font-size: 18px;
        color: config.$neutral-color-lightest;
        font-weight: 700;
        padding: 5px 0px;
        text-align: center;
    }

    &__carrossel-product-price {
        font-size: 18px;
        color: config.$neutral-color-lightest;
        padding-bottom: 5px;
        font-weight: 400;
    }

	&__carrossel-controls {
		position: absolute;
		top: 35%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		pointer-events: none;
	}

	&__carrossel-btn {
		@include config.reset-button;
		pointer-events: auto;
		background: config.$neutral-color-lightest;
		color: config.$primary-color;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: config.$default-shadow;
	}


	&__loja {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

    &__loja-button {
        display: block;
        text-align: center;
        text-decoration: none;
        color: config.$neutral-color-lightest;
        background-color: config.$tertiary-color;
        border: 2px solid config.$tertiary-color;
        border-radius: 8px;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 400;
        font-family: "Nexa";
        cursor: pointer;

        &:hover {
            background: config.$custom_1-color-dark;
        }

        @include config.breakpoint('medium-down') {
            font-size: 16px;
        }
    }

	&__loja-link {
		text-decoration: none;
		color: config.$neutral-color-lightest;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
	}


	&__site {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	&__site-title {
		margin-bottom: 10px;

		@include config.breakpoint('medium-down') {
			text-shadow: 1px 1px 2px #000;
		}
	}

	&__site-botao {
		@include config.reset-button;
		background-color: config.$secondary-color-dark;
		padding: 15px;
		width: 40%;
		border-radius: 5px;

		&:hover {
			background: config.$neutral-color-darkest;
		}

		@include config.breakpoint('medium-down') {
			width: 90%;
		}
	}

	&__site-link {
		@include config.reset-link;
		color: config.$neutral-color-lightest;
		font-size: 18px;
	}


	&__map {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__map-container {
		height: 180px;
		border-radius: 12px;
		overflow: hidden;

		@include config.breakpoint('medium-down') {
			width: 100vw;
		}
	}
}