@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'growify-icons';
    src: url('../fonts/growify-icons/growify-icons.eot?587rd6');
    src: url('../fonts/growify-icons/growify-icons.eot?587rd6#iefix') format('embedded-opentype'),
        url('../fonts/growify-icons/growify-icons.ttf?587rd6') format('truetype'),
        url('../fonts/growify-icons/growify-icons.woff?587rd6') format('woff'),
        url('../fonts/growify-icons/growify-icons.svg?587rd6#growify-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}